* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  color: #444;
}

.container {
  width: 825px;
  margin: 40px auto;
  border: 5px solid black;
  position: relative;
}

h1 {
  background-color: #f7f7f7;
  text-align: center;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1::before {
  content: "SALE";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #ec2f2f;
  color: #fff;
  display: inline-block;
  padding: 7px 15px;
  position: absolute;
  top: -17px;
  left: -35px;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

img {
  width: 300px;
}

ul,
ol {
  margin-left: 40px;
}

li {
  list-style: square;
}

a {
  margin-bottom: 20px;
}

a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
}

button {
  font-size: 24px;
  background-color: black;
  color: white;
  border: none;

  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

button:hover {
  background-color: white;
  border-top: 5px solid black;
  color: black;
  cursor: pointer;
}

.sm {
  color: #a7a7a7;
  font-size: 18;
  margin-bottom: 20px;
}

.colors div {
  display: inline-block;
  margin: 30px 10px;
  width: 25px;
  height: 25px;
}

.colors div:last-child {
  margin-right: 0;
}

.black-box {
  background-color: black;
}

.blue-box {
  background-color: #2f6ee2;
}

.red-box {
  background-color: red;
}

.yellow-box {
  background-color: yellow;
}

.green-box {
  background-color: green;
}

.brown-box {
  background-color: brown;
}
